body {
	background: linear-gradient(45deg, #D9DDC0, #A0B1A0, #536B63);
	font-family: "Libre Baskerville", serif;
}

#left, #right, #text {
	position: absolute;
}

#left, #right {
	height: 100px;
	width: 30px;
	background: #FDFFFD;
}

#left {
	left: 43%;
	top: 42%;
	margin-right: -50%;
	transform: translate(-50%, -50%) skew(-3deg);
	animation: twirlL 2s ease-in forwards infinite;
}

#right {
	top: 47%;
	left: 53%;
	transform: skew(3deg);
	animation: twirlR 2s ease-in forwards infinite ;
}

#text {
	color: white;
	top: 50%;
	left: 62%;
}

/* KEYFRAMES */

@keyframes twirlL {
	0% {
		transform: rotateY(0deg) skew(-3deg);
	}
	25% {
		transform: rotateY(90deg) skew(-15deg) translateX(-10px);
	}
	50% {
		transform: rotateY(180deg) skew(15deg) translateX(-40px);
		background: #333;
	}
	75% {
		transform: rotateY(270deg) skew(-8deg) translateX(-25px);
		background: #333;
	}
	100% {
		transform: rotateY(360deg) skew(-3deg);
	}
}

@keyframes twirlR {
	0% {
		transform: rotateY(0deg) skew(3deg)
	}
	25% {
		transform: rotateY(90deg) skew(15deg) translateX(10px);
	}
	50% {
		transform: rotateY(180deg) skew(-15deg) translateX(50px);
		background: #333;
	}
	75% {
		transform: rotateY(270deg) skew(8deg) translateX(25px);
		background: #333;
	}
	100% {
		transform: rotateY(360deg) skew(3deg);
	}
}


@media screen and (min-device-width: 1200px) {
	#left {
	left: 50%;
	top: 42%;
	margin-right: -50%;
	transform: translate(-50%, -50%) skew(-3deg);
	animation: twirlL 2s ease-in forwards infinite;
}
}